In [1]:
import pandas as pd
import numpy as np
import time
import datetime
import warnings
warnings.filterwarnings('ignore')

In [4]:
df = pd.read_csv('boston_marathon/boston_2019_male.txt', delimiter = ",")

In [5]:
df

,BibNumber,FullName,SortName,AgeOnRaceDay,Gender,City,StateAbbrev,StateName,Zip,CountryOfResAbbrev,CountryOfResName,CountryOfCtzAbbrev,CountryOfCtzName,OfficialTime,RankOverall,RankOverGender,RankOverDivision,EventGroup,SubGroupLabel,SubGroup
0,2,Lawrence Cherono,"Cherono, Lawrence",30,M,Eldoret,NaN,NaN,NaN,KEN,Kenya,KEN,Kenya,2:07:57,1,1,1,Runners,NaN,NaN
1,6,Lelisa Desisa,"Desisa, Lelisa",29,M,Ambo,NaN,NaN,NaN,ETH,Ethiopia,ETH,Ethiopia,2:07:59,2,2,2,Runners,NaN,NaN
2,7,Kenneth Kipkemoi,"Kipkemoi, Kenneth",34,M,Eldoret,NaN,NaN,NaN,KEN,Kenya,KEN,Kenya,2:08:07,3,3,3,Runners,NaN,NaN
3,8,Felix Kandie,"Kandie, Felix",32,M,Iten,NaN,NaN,NaN,KEN,Kenya,KEN,Kenya,2:08:54,4,4,4,Runners,NaN,NaN
4,11,Geoffrey Kirui,"Kirui, Geoffrey",26,M,Keringet,NaN,NaN,NaN,KEN,Kenya,KEN,Kenya,2:08:55,5,5,5,Runners,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,2036,Tim Mcbride,"Mcbride, Tim",36,M,London,NaN,NaN,UB8 2GN,GBR,United Kingdom,GBR,United Kingdom,2:43:27,536,496,425,Runners,NaN,NaN
496,649,Ted Brakob,"Brakob, Ted",25,M,Brooklyn,NY,New York,11205,USA,United States of America,USA,United States of America,2:43:28,537,497,426,Runners,NaN,NaN
497,549,Neilton Socorro,"Socorro, Neilton",38,M,Fortaleza,NaN,NaN,60833-155,BRA,Brazil,BRA,Brazil,2:43:30,538,498,427,Runners,NaN,NaN
498,850,Ryan Kenny,"Kenny, Ryan",39,M,Boston,MA,Massachusetts,02113,USA,United States of America,USA,United States of America,2:43:31,539,499,428,Runners,NaN,NaN
499,500,Mark Furler,"Furler, Mark",36,M,Hollis,NH,New Hampshire,03049,USA,United States of America,USA,United States of America,2:43:35,540,500,429,Runners,NaN,NaN